In [1]:
import pandas as pd
from sklearn import preprocessing

In [7]:
raw_df = pd.read_excel("Input/full_long_table.xlsx", index_col = "Sample_name")

"""le = preprocessing.LabelEncoder()
raw_df["Sequence"] = le.fit_transform(raw_df["Sequence"])"""

raw_df.head()

,STR_mark,STR_structure,Numer_reps,Supporting_reads,AlleleFrequency,Sequence
Sample_name,,,,,,
353_R_miseq,STR5,[T]26,26.0,1,0.125,CTAGGACGGCGATTCTTTTTTTTTTTTTTTTTTTTTTTTTTCGAAT...
353_R_miseq,STR5,[T]19,19.0,1,0.125,CTAGGACGGCGATTCTTTTTTTTTTTTTTTTTTTCGAATTCACGGGGTA
353_R_miseq,STR5,[T]22,22.0,1,0.125,CTAGGACGGCGATTCTTTTTTTTTTTTTTTTTTTTTTCGAATTCAC...
431,STR8,ATATTTTATTTTATATTTTATATTTTATGTTTT [ATTTT]1 [AT...,11.3,1,0.125,TGAGTATTGGATTGTATATTTTATTTTATATTTTATATTTTATGTT...
353_R_miseq,STR5,[T]24,24.0,3,0.375,CTAGGACGGCGATTCTTTTTTTTTTTTTTTTTTTTTTTTCGAATTC...

In [8]:
STRS = list(set(raw_df["STR_mark"]))
# print(STRS)
SAMPLES = list(set(raw_df.index))
# print(SAMPLES)

alfreq_dict = dict()
seq_dict = dict()

for STR in STRS:
    alfreq_dict[STR] = dict()
    seq_dict[STR] = dict()
    for sample in SAMPLES:
        alfreq_dict[STR][sample] = 0
        seq_dict[STR][sample] = "None"

# print(df_dict)

# Template dataframe
# template_df = pd.DataFrame(columns=STRS, index=SAMPLES)
# template_df

In [9]:
for index, row in raw_df.iterrows():
    STR = row["STR_mark"]
    al_freq = row["AlleleFrequency"]
    sample = index
    
    if alfreq_dict[STR][sample] < al_freq:
        seq = row["Sequence"]
        
        alfreq_dict[STR][sample] = al_freq
        seq_dict[STR][sample] = seq

In [10]:
df_xsample_ySTR = pd.DataFrame.from_dict(seq_dict)
df_xsample_ySTR.to_csv("Output/df_xsample_ySTR_2.tsv", sep="\t")

In [11]:
df_trimmed = raw_df.drop(["STR_structure", "Numer_reps","Supporting_reads"], axis=1)
df_trimmed.head()

,STR_mark,AlleleFrequency,Sequence
Sample_name,,,
353_R_miseq,STR5,0.125,CTAGGACGGCGATTCTTTTTTTTTTTTTTTTTTTTTTTTTTCGAAT...
353_R_miseq,STR5,0.125,CTAGGACGGCGATTCTTTTTTTTTTTTTTTTTTTCGAATTCACGGGGTA
353_R_miseq,STR5,0.125,CTAGGACGGCGATTCTTTTTTTTTTTTTTTTTTTTTTCGAATTCAC...
431,STR8,0.125,TGAGTATTGGATTGTATATTTTATTTTATATTTTATATTTTATGTT...
353_R_miseq,STR5,0.375,CTAGGACGGCGATTCTTTTTTTTTTTTTTTTTTTTTTTTCGAATTC...

In [ ]:
# df_filtered = df_trimmed.groupby(["Sample_name","STR_mark", "Sequence"])["AlleleFrequency"].max().to_frame()
# df_filtered